html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gordita';
    background-image: url('../img/bg.png');
    background-position-y: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ==== custom styles ==== */
.text-brand {
    color: #273588;
}
.container {
    height: 100%;
    overflow-x: hidden;
}
    

.header img {
    width: 200px;
}

.main {
    height: 90%;
    position: absolute;
    bottom: 0;
}
    .submain {
        position: relative;
        top: 10%;
    }
    .lp-1 h1 {
        font-size: 4rem;
        font-weight: 600;
    }
    .lp-text, .lp-text-2 {
        font-family: "Gordita Regular";
        font-size: 1rem;
    }
    .lp-text-2 {
        display: none;
    }
        .ml4 {
            position: relative;
        }
            .ml4 .letters {
                position: absolute;
                top: -1.2em;
                left: 0;
                right: 0;
                opacity: 0;
            }

    .countdown {
        display: flex;
        justify-content: center;
        color: #273588;
    }
        .countdown div:not(:last-child) {
            margin-right: 50px;
        }
        .countdown h1 {
            font-size: 8rem;
            font-family: "Coolvetica Compressed Rg";
            color: #273588;
            margin-bottom: 0;
        }
        .countdown span {
            font-family: "Coolvetica Compressed Rg";
            font-size: 1.5rem;
        }

    .newsletter {
        width: 50%;
        margin: 30px auto 0;
        text-align: center;
    }
        .newsletter span {
            font-size: 2rem;
            font-weight: 300;
            font-family: "Gordita Regular";
        }
        .newsletter form {
            width: 100%;
            box-sizing: border-box;
            margin: 20px 0;
            font-family: "Gordita Regular";
        }
        .newsletter form input {
            box-sizing: border-box;
            padding: 15px;
            border-radius: 0;
            outline: none;
            border: 1px solid #273588;
        }
            .newsletter input[type=text] {
                width: 80%;
                background: #f2f3fc;
            }
                .newsletter input::placeholder {
                    font-weight: 600;
                }
            .newsletter input[type=submit] {
                width: 20%;
                border: none;
                background: #273588;
                color: #fff;
                font-weight: 600;
            }
    .footer {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
        .footer p {
            font-family: "Gordita Regular";
        }

@media screen and (max-width:1023px){
    .header {
        margin-bottom: 60px;
    }
        .header img {
            width: 100px;
        }
    .main {
        height: auto;
        position: relative;
    }
        .lp-text {
            display: none;
        }
        .lp-text-2 {
            display: block;
            font-size: .9rem !important;
        }
        .c-cont {
            position: relative;
            order: 1;
        }
        
        .lp-1 h1 {
            font-size: 2.2rem;
            text-align: center;
        }
        .countdown div:not(:last-child) {
            margin-right: 40px;
        }
        .countdown h1 {
            font-size: 5rem;
        }
        .newsletter {
            width: 100%;
        }
            .newsletter span {
                font-size: 1.5rem;
            }
            .newsletter .d-flex {
                flex-direction: column;
            }
            .newsletter form input[type=text] {
                width: 100% !important;
                margin-bottom: 10px;
                border: none;
            }
            .newsletter form input[type=submit] {
                width: 200px;
                border-radius: 3px;
                margin: 0 auto;
            }
        .footer {
            position: relative;
            text-align: center;
            font-size: 0.9rem;
            top: 60px;
        }
}


    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }